<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Select Class<span class="requiredFieldClass">*</span></label>
            <select id="ddlSelectClass" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" onchange="SessionBindByClass()">
            </select>
            <span id="SelectClass_error" class="errorsClass"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Select Session<span class="requiredFieldClass">*</span></label>
            <select id="ddlSession" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;">
            </select>
            <span id="Session_error" class="errorsClass"></span>
        </div>
    </div>
</div>