
@{
    ViewBag.Title = "Completed Course Fee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Reports (Completed Course Fee)</h1>
            </div>
            <div class="col-sm-6" style="text-align:right;">
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Completed-Course-Fee List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @Html.Partial("_FilterByDate_From_To")
                            <div class="col-md-4">
                                <label>Select Branch</label>
                                <select id="ddlBranch_Filter_ManageCompletedCourseFee" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" onchange="FilterCompletedCourseFeeDataByBranch();">
                                </select>
                            </div>
                        </div>
                        <table id="tblCompletedCourseFeeData_ManageCompletedFee" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Student</th>
                                    <th>Course</th>
                                    <th>Course Fee</th>
                                    <th>Start-Date</th>
                                    <th>Valid Upto</th>
                                    <th>Re-Join</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Student</th>
                                    <th>Course</th>
                                    <th>Course Fee</th>
                                    <th>Start-Date</th>
                                    <th>Valid Upto</th>
                                    <th>Re-Join</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<!-- /.content -->
<script src="/ScriptFiles/ManageCompletedCourseFee.js"></script>
<script src="~/ScriptFiles/DateCheck.js"></script>

<script>
    $(function () {
        $("#tblCompletedCourseFeeData_ManageCompletedFee").DataTable({
            "scrollX": true
        });

        //Initialize Select2 Elements
        $('.select2').select2();

        $(".isDatePicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>

